<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="styling.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Quicksand|Roboto" rel="stylesheet">
<style>
    body { 
        padding-top:150px; 
    }
    .container{
        background: rgb(196, 210, 233);
        border-radius: 20px;
    }
    .btn{
        background:#3A68B4;
        color:white;

    }
    .btn:hover{
        background:#3A68B4;
        color:#F8FFBF;
    }
    .jumbotron{
        background-attachment: fixed;
        background-size: cover;
        background: url("../../public/image/background.jpg") no-repeat center center; 
        text-align: center;
        letter-spacing: 1px;
        padding: 30px;
        margin-top:50px; 
        height:400px;
    }
</style>



<body>
    {{>header}}

    <div class="jumbotron" id="myContainer">
        <h1>Online Notes Helper</h1>
        </br>
        <h2>Fleeting memories and writing notes</h2>
        </br>
        <a href="/signup" class="btn btn-default btn-lg"><span class="fa fa-user"></span> Create Your Account</a>
    </div> 

    {{>footer}} 
</body>
